body {
  margin: 0;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  transition: all 0.15s ease;
  font-family: "Chakra Petch", sans-serif;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h2 {
  cursor: pointer;
  transition: all 0.15s ease;
  font-weight: lighter;
  font-size: 2.5em;
  border-bottom: 2px solid black;
}
.logo h2:hover {
  letter-spacing: 2px;
}
.link {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link a {
  text-decoration: none;
  color: rgb(42, 41, 41);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  margin-inline: 0.4em;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -1px;
}

input[type="file"] {
  display: none;
}



.finder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.how-to {
  letter-spacing: -1px;
}
.how-to h4{
  color: rgb(255, 0, 0);
  margin: 0;
  margin-bottom: -.5em;
  padding: 0;
}
.left-container {
  height: 50vh;
  background-color: rgb(232, 232, 232);
  margin-bottom: 2em;
  margin-inline: 4em;
  width: 40%;
  padding: 30px;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(21, 20, 20);
  border-radius: 20px;
}
.right-content {
  height: 100%;
  margin-bottom: 2em;
  margin-inline: 4em;
  width: 50%;
  display: flex;
  padding: 30px;
  /* From https://css.glass */
  background: rgba(202, 202, 202, 0.715);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(128, 128, 128, 0.3);
  flex-direction: column;

}
.images{
 width: 100%;
 display: grid;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
gap: 30px;
    
}
.anime{
 display: flex;
  flex-direction: column;
  justify-content: space-around;
 min-width: 100%;
  
  padding: 10px 10px;
  justify-content: center;
  border-radius: 10px;
}
.anime img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}
.header-anime{
  width: 90%;
  justify-content: space-around;
  display: flex;
  padding: 10px;
}
.header-anime span{
  font-weight: bolder;
}
.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.form{
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
 
}
label {
  background-color: rgb(16, 18, 24);
  color: white;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  right: 80px;
  padding: 9px 30px;
}
input[type="text"] {
  font-size: 1em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  width: 100%;
  padding: 10px 20px ;
  right:  0;
  border: none;
  outline: none;
  inset: none;
  border-radius: 10px;
}
button{
  font-size: 1em;
  position: absolute;
  right: 0;
  padding: 10px 20px;
  border: none;
  border-radius: 0px 10px 10px 0;

}
@media (max-width: 1386px) {
  .finder{
    flex-direction: column;
  }
  .left-container{
    height: 60vh;
    width: 80%;
    margin: 0;
    padding: auto;
    align-self: center;
  }
  label{
    padding: 9px 10px;
  }
  .right-content{
    width: 80%;
  }
}